@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Welcome";
}


<div>
    <h1>Welcome <span>(@User.Identity.GetUserName())</span></h1>
    <p>At Family Medical Record, we believe that every patient should have easy and confidential access to his or her health information at any time. Family Medical Record provides information for existing patients to view or cancel upcoming appointments, message their provider directly and access their medical records.</p>
</div>